.slider_bar-video {
  position: fixed;
  width: calc((var(--width-slider-bar)) + (10px));
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0;
  transform: translateX(-138%);
  transition: all 0.2s linear;
}

.slider_bar-video-click {
  opacity: 1;
  transform: translateX(0);
}

.overlay-navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}

.overlay-navbar-change.overlay-navbar {
  display: block;
}

.header_list-left-navbar {
  height: 56px;
  background-color: var(--white-color);
  border-bottom: 1px solid rgba(212, 206, 206, 0.6);
}

.bar-active {
  margin-top: var(--header-height);
  width: calc((var(--width-slider-bar)) + (10px));
}

.slider_bar-list-first,
.slider_bar-list-second,
.slider_bar-list-fifth {
    padding-top: 10px;
}

.bxf-home-video {
    color: var(--main-color) !important;
}


/* Container CSS */
.container-video {
    width: 100%;
    background-color: #f9f9f9;
}

.video_main {
  height: 2000px;
}

.video_title-heading {
  font-family: 'roboto', sans-serif;
  color: var(--black-color);
  font-size: 1.9rem;
  font-weight: 400;
  margin-top: 10px;
}

.video_intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -2px 0 16px 0;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--border-color);
}

.video_info-left {
  display: flex;
  align-items: center;
}

.video_info-view {
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  color: var(--main-color);
}

.video_icon-dot {
  font-size: 0.4rem;
  color: var(--main-color);
  padding: 0 4px;
}

.video_info-date {
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  color: var(--main-color);
}

.video_info-right {
 position: relative;
}

.video_info-social {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.video_info-social-item {
  display: flex;
  align-items: center;
}

.video_info-social-item + .video_info-social-item {
  margin-left: 10px;
}

.video_info-social-item span {
  font-family: 'roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-color);
  opacity: 0.94;
  text-transform: uppercase;
}

.video_icon-right {
  font-size: 2.4rem;
  color: #909090;
  padding: 4px;
}

.info_info-right-line {
  position: absolute;
  width: 124px;
  height: 2px;
  transform: translate(340%, 24px);
  background-color: var(--main-color);
  opacity: 0.6;
}


/* Channel info */
.video_channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video_channel-main {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}


.video_channel-item + .video_channel-item {
  margin-left: 16px;
}

.video_channel-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}


.video_channel-info p {
  font-family: 'roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.98;
  color: var(--black-color);
}

.video_channel-info p i {
  color: var(--main-color);
  transform: translateY(5%);
}

.video_channel-info p {
  margin-bottom: 0;
}

.video_channel-subscribe p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: var(--main-color);
  margin: -1px 0 0 0 ;
}

.video_btn-subscribe {
  border-radius: 2px;
  background-color: var(--color-active);
  border: none;
  text-transform: uppercase;
}

.video_btn-subscribe {
  font-family:'Segoe UI',sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white-color);
  text-decoration: none;
  padding: 6px 14px;
}


/* video description */
.video_channel-desc {
  padding-left: 64px;
}

.video_channel-desc-main {
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  color: var(--black-color);
}

.video_channel-sub-desc {
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  color: var(--black-color);
  display: none;
}

.video_channel-sub-desc-change {
  display: block;
}

.video-click-htt {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--main-color);
  margin-top: 6px;
  text-transform: uppercase;
}
