:root {
    --main-color: #606060;
    --text-info: #727272;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #ccc;
    --border-light-color: #e9e9e9;
    --background-active: #e5e5e5;
    --color-active: #ff0000;
    --hover-color: #f5f3f3;
    --header-height: 56px;
    --width-slider-bar : 240px
}

* {
    box-sizing: inherit;
    user-select: none;
}

html{
    font-size: 62.5%;
    line-height: 1.4rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
